html {
      background: #000;
      z-index: 0;
}
body {
      background: rgb(8, 15, 45);
      background: linear-gradient(0deg, rgba(8, 15, 45, 1) 17%, rgba(3, 8, 20, 1) 53%);
      margin: 0;
      padding: 0;
      height: 100vh;
      color: white; 
    }

    .cover-container {
      width: 100%;
    }

    .navbar {
      /*background-color: #1b1b1b; */
      background-color: rgb(0, 0, 0, 0);
    }

    .navbar-toggler,
    span.navbar-toggler-icon {
      border-radius: 0px;
      border-color: #1b1b1b;
      border-width: 0;
    }

    svg {
      /* display: block; */
      margin: 0;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    }

    .logo {
      width: 90%;
      color: white;
      margin: 0;
      padding: 0;
      image-rendering: optimizeQuality;
      shape-rendering: geometricPrecision;
      text-rendering: optimizeLegibility;
      max-width: 100%;
    }

    .contact-btn {
      font-size: 14px;
    }

    #sketch-container {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 1;
    }


    .lead {
      font-size: 90%;
    }

    svg {
      image-rendering: optimizeQuality;
      shape-rendering: geometricPrecision;
      text-rendering: optimizeLegibility;
    }

    /* Base font size */
    body {
      font-size: 16px;
    }

    /* Larger logo size for desktop */
    @media (min-width: 1024px) {
      .logo {
        width: 60%;
      }
    
    /* Test removal
      #sketch-container {
        height: 50%;
        width: 50%;
      }
    */
    }

    canvas {
      background: none;
    }

/* z-index */
	html {
    z-index: 0; /* Lowest in the stacking order */
}

body {
    /* Other styles */
    z-index: 1; /* Higher than html */
}

#sketch-container {
    z-index: 0; /* Same as html, behind body */
}

.cover-container, .navbar, header, footer, main {
    z-index: 2; /* or higher, as needed */
}