
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /* background-color: #333; */
  background-color: transparent;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

.cover-container {
  max-width: 100%;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
/*  padding: 0 1.5rem; */
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Custom Styles
 */
 body {
      /* background: linear-gradient(to right, #070424, #211e44, #2d295b, #5e57a4, #2d295b, #211e44, #10101c); */
      background: rgb(8, 15, 45);
      background: linear-gradient(0deg, rgba(8, 15, 45, 1) 17%, rgba(3, 8, 20, 1) 53%);


      margin: 0;
      padding: 0;
      height: 100vh;
      color: white;
      /*background: #000;*/
      /* background-color: #b40027', '#a3147d', '#ffea63', 'rgb(255, 183, 0)', '#2d13a3'; */
    }

    .cover-container {
      width: 100%;
    }

    .navbar {
      /*background-color: #1b1b1b; */
      background-color: rgb(0, 0, 0, 0);
    }

    .navbar-toggler,
    span.navbar-toggler-icon {
      border-radius: 0px;
      border-color: #1b1b1b;
      border-width: 0;
    }

    svg {
      /* display: block; */
      margin: 0;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    }

    .logo {
      width: 90%;
      color: white;
      margin: 0;
      padding: 0;
      image-rendering: optimizeQuality;
      shape-rendering: geometricPrecision;
      text-rendering: optimizeLegibility;
      max-width: 100%;
    }

    .contact-btn {
      font-size: 14px;
    }

    #sketch-container {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: -1;
    }


    .lead {
      font-size: 150%;
    }

    svg {
      image-rendering: optimizeQuality;
      shape-rendering: geometricPrecision;
      text-rendering: optimizeLegibility;
    }

    /* Base font size */
    body {
      font-size: 16px;
    }

    /* Larger logo size for desktop */
    @media (min-width: 1024px) {
      .logo {
        width: 60%;
      }

      #sketch-container {
        height: 50%;
        width: 50%;
      }
    }

    canvas {
      background: none;
    }

